<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258534463325-s0a9851nrih3d69ntmu5o5q09jad21vp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258534463325-s0a9851nrih3d69ntmu5o5q09jad21vp</string>
	<key>API_KEY</key>
	<string>AIzaSyAy27TPmaFBE10TK2W-cf88QjmSQT-n3r8</string>
	<key>GCM_SENDER_ID</key>
	<string>258534463325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KitaplikApp</string>
	<key>PROJECT_ID</key>
	<string>kitaplikapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kitaplikapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258534463325:ios:3e8110a90cbfdd8821bab4</string>
	<key>DATABASE_URL</key>
	<string>https://kitaplikapp.firebaseio.com</string>
</dict>
</plist>